* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(135deg, #2e0249, #570a57);
  color: white;
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.bookList {
  list-style: none;
  padding: 0;
  margin-top: 1rem;

   li {
    background: #5e2ca5;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
    border-radius: 8px;
  }
}

.card {
  background: #3f1d63;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

input, button {
  width: 100%;
  margin: 0.3rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

button {
  background: #a66cff;
  color: black;
  cursor: pointer;
}

.independent {
  width: auto;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}